.b{
	font-weight: bold;
}

.i{
	font-style: italic;
}

.s{
	text-decoration: line-through;
}

.u{
	text-decoration: underline;
}

.c{
	width: 100%;
	text-align: center;
}

.up{
	text-transform: uppercase;
}

.low{
	text-transform: lowercase;
}

.cap{
	text-transform: capitalize;
}

.center{
	position: relative;
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
